.navbar {
    background-color: purple;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.companyName {
    font-size: 18px;
}

.logo {
    font-weight: bold;
    size: 20px;
    height: 3em;
    padding: 0.5em;
}

