.star-rating {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: none;
}
.star-rating button {
  background: none;
  /* Add border to buttons */
  border-radius: 5px;
  /* Optional: Add border radius for rounded corners */
  cursor: pointer;
  padding: 0.5rem;
  /* Add padding for better spacing */
  margin: 0.2rem;
  /* Add margin for spacing between buttons */
  font-size: 3rem;
  /* transition: border-color 0.3s; */
  outline: none;
  /* Add transition for smooth border color change */
}
.star-rating button:hover {
  border-color: white;
  /* Change border color on hover */
}
.star-rating .on .star {
  color: gold;
}
.star-rating .off .star {
  color: gray;
}