section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* set column sizes here */
    grid-template-rows: auto auto; /* we want two rows */

    grid-gap: 10px; /* how far between cells? */
    grid-auto-flow: column; /* fill in by column, not row */

    /* temporary property for visualization */
    height: 150px;
}

.tippingSection {
    text-align: center;
}

.title {
    color: purple;
    margin-bottom: -10px;
}

.description {
    color: purple;
    font-size: 1.3rem;
}

.buttonSection {
    margin: 20px 20px 0px 20px
    }
    
    .tipButton {
        background-color: white;
        color: #FF8000;
        font-size: 1.8rem;
        border: 1px solid #FF8000;
        width: 200px;
}