section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* set column sizes here */
    grid-template-rows: auto auto; /* we want two rows */

    grid-gap: 10px; /* how far between cells? */
    grid-auto-flow: column; /* fill in by column, not row */

    /* temporary property for visualization */
    height: 150px;

}

.tippingSection {
    display: flex;
    text-align: center;
    align-items: center;
        flex-direction: column;
}

.title {
    color: purple;
    margin-bottom: -10px;
}

.description {
    color: purple;
    font-size: 1.3rem;
}

.buttonSection {
display: flex;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 31px;
    gap: 12px 4vw;
    width: 70vw;
    height: fit-content;
}

.tipButton {
    
    background-color: white;
        color: #FF8000;
        font-size: 1.8rem;
        border: 1px solid #FF8000;
    width: 33vw;
}